@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap');
/*mobile xs*/

* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}
.header{
    background-color:#1d2126 ;
    color: #a4aead;
    height: 80px;
}
.row{
    align-items: center;
    align-content: center;
    height:80px ;
}


.menu{
    display: flex;
    flex-wrap: wrap;
    
}
.menu li{
    margin: 0px 7px 0px 7px;
    padding: 4px;
}
.menu a{
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    border-radius: 6px;
    color: #a4aead;
    text-decoration: none;
    border: 2px solid #1d2126;
    padding: 4px;
}
.menu a:hover{
    border: 2px solid #a4aead;
}
.headerLogo {
    display: flex;
    justify-content: center;
    
}
.headerSearch{
    display: flex;
    border: 2px solid #a4aead;
    border-radius: 6px;
    width: 195px;
    max-width: 30px;
    padding-left: 0px;
    padding-right: 0px;
    justify-content: space-between;
    align-items: center;
    min-width: 185px;
}

.headerSearch input{
    width: 110px;
    background: transparent;
    outline: unset;
    border: unset;
    height: 25px;

    
}
.headerSearch button{
    background-image: url(img/icon\ \(1\).png);
    width: 25px;
    height: 25px    ;
    border: unset;
    background-color:#1d2126 ;
    min-width: 25px;
}
.firstPartOfMain{
    width: 100%;
    background-image: url(img/img\ \(2\).png);
    min-height: 660px;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Open Sans', sans-serif;
}
.welcomeRow{
    color: #ffffff;
    display: flex;
    flex-direction: column;
    height: 660px;
    justify-content: center;
}
.text1_1 p{
    font-size:30px;
    margin: 0px 0px 30px 0px;
}
.text1_2{
    margin: 0px 0px 40px 0px;
    max-width: 650px;
    font-size: 12px ;
    color: #acadb6;
}
.welcomeBut{
    display: flex;
    
}
.viewMoreBut {
    margin: 0px 0px 0px 0px;
    width: 125px;
    height: 45px;
    text-align: center;
    line-height: 45px;
}
.videotourBut {
    width: 125px;
    height: 45px;
    text-align: center;
    line-height: 45px;
}

.viewMoreBut a{
    color: #ffe5e5;
    text-decoration: unset;
    border: 2px solid #ffe5e5;
    padding: 15px 20px 15px 20px;
    border-radius: 6px;
    font-size: 10px;
    width: 125px;
    height: 45px;
}
.videotourBut a{
    color: #ffe5e5;
    text-decoration: unset;
    border: 2px solid #ffe5e5;
    padding: 15px 20px 15px 20px;
    border-radius: 6px;
    font-size: 10px;
    width: 125px;
    height: 45px;
}
.viewMoreBut a:hover{
    border:2px solid #39a493;
    color: white;
    background-color:#39a493 ;
}
.videotourBut a:hover{
    border:2px solid #39a493;
    color: white;
    background-color:#39a493
}
.secondPartOfMain{
    min-height: 610px;
}
.f{
    background-color:#e1e6ea ;
}
.text{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.text2_1 p{
    font-size: 30px;
    margin: 80px 0px 20px 0px;
}
.text2_2{
    max-width: 650px;
    padding: 25px 0px 0px 0px;
}
.text2_2 p{
    color: #8d8f92;
padding: 30px 0px 30px 0px;
}
.text2_3{
    max-width: 380px;
    
}
.text2_3 p{
   margin: 0px 0px 40px 0px;
   font-size: 13px;
}
.text2_3 DIV:first-child{
    margin: 25px 0px 20px 0px;

}
.numbers p{
    width: 50px;
    height: 50px;
    margin: 0px 20px 60px 0px;
    background-color: #23b7a4;
    text-align: center;
    line-height: 50px;
}
.numbers p:first-child{
    margin: 25px 20px 60px 0px;
}
.title{
        color: black;
        font-size: 17px;
        margin: 10px 0px 10px 0px;
}
.secondpart{
    display: flex;
}
.mediaBut button{
    width: 60px;
    height: 60px;
    background-position: center;
    background-color: #c8cdd0;
    border: unset;
    margin: 50px 0px 50px 0px;
}
.facebookBut{
    background-image: url(img/icon\ \(6\).png);
}
.twiterBut{
    background-image: url(img/icon\ \(5\).png);
}
.googleBut{
    background-image: url(img/icon\ \(4\).png);
}

.ballBut{
    background-image: url(img/icon\ \(3\).png);
}

.beBut{
    background-image: url(img/icon\ \(2\).png);
}

.thirdPartOfMain{
    min-height: 650px;
}
.portfolio{
    margin-top: 50px;
}
.portfolio ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.portfolio li{
    display: flex;
    padding: 0px;
    flex-direction: column;
    border: 15px white solid;
position: relative;
}
.portfolio li img{
    width: 100%;
}
.portfolioText{
   width: 100%;
   height: 75px;
   background-color: #e1e6ea;
   z-index: 1;
   padding: 15px;
   display: flex;
   font-size: 15px;
   flex-wrap: wrap;
   justify-content: space-between;
   flex-direction: column;
}
.portfolioBut{
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(225, 230, 234,.3);
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
   padding-top: 110px;
    opacity: 0;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.portfolioBut1{
width: 50px;
height: 50px;
background-image: url(img/icon\ \(9\).png);
background-color: #3a454d;
outline: unset;
    border: unset;
    margin: 2px;
}
.portfolioBut1:hover{
    background-color: #4e5a62;
}
.portfolioBut2{
    width: 50px;
height: 50px;
background-image: url(img/icon\ \(8\).png);
background-color: #3a454d;
outline: unset;
    border: unset;
    margin: 2px;
}
.portfolioBut2:hover{
    background-color: #4e5a62;
}
.portfolioBut3{
    width: 50px;
height: 50px;
background-image: url(img/icon\ \(7\).png);
background-color: #3a454d;
outline: unset;
    border: unset;
    margin: 2px;
}
.portfolioBut3:hover{
    background-color: #4e5a62;
}
.portfolio li:hover .portfolioBut{
    opacity: 1;
}
.portfolio li:hover .portfolioText{
    background-color: #4e5a62 ;
    color: white;
}
.fourthPartOfMain{
    min-height: 900px;
    width: 100%;
    color: white;
    background-color: #3a454d;
    padding-top: 1px;
    
    
}
.examplesOfWorks ul{
 display: flex;
 flex-wrap: wrap;
 margin-top: 50px;
}
.examplesOfWorks li{
position: relative;
padding: 0px;
border: 15px solid #3a454d;

}
.plusImg {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
display: flex;
justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0,.5);
    padding-bottom: 50px;
    opacity: 0;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

.mainImg{
    width: 100%;
}
.workText{
    width: 100%;
    height: 60px;
    background-color: #292f36;
    padding: 20px;
    max-width: 340px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 1;
    display: none;
}
.examplesOfWorks li:hover .workText{
    display: block;

}
.examplesOfWorks li:hover .plusImg{
    opacity: 1;
}







/*tablet sm*/
@media (min-width:768px) {
    .headerLogo {
        justify-content: left;
       
    }
    .row{
        flex-wrap: nowrap;
    }
    
}

    /*laptop md*/
    @media (min-width:992px) {
    }

    /*desktop lg*/
    @media (min-width:1200px) {
    }
    @media (max-width:767px) {
        
        .header{
            height: 120px;
        }
        .headerLogo {
            min-width: 25px;
            margin: 5px;
        }
        .portfolio li {
            max-width: 265px;
        }
        .row{
            align-content:space-between ;
        }
    }
    @media (max-width:1213px) {
        .menu{
            justify-content: center;
            overflow-x: scroll;
        }
    }
